body{
    background-image: url(Images/hand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices{
    margin-bottom: 30px;
}

.choices button{
    font-size: 5rem;
    min-width: 160px;
    margin: 0 20px;
    border-radius: 300px;
    background-color: skyblue;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover{
    background-color: green;
}

#playerDisplay, #computerDisplay{
    font-size: 3rem;
}

#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}

.scoreDisplay{
    font-size: 2rem;
}

.greenText, #playerScoreDisplay{
    color: rgb(114, 191, 114);
}

.redText, #computerScoreDisplay{
    color: red;
}